# --- Java ---
*.class
*.log
hs_err_pid*
replay_pid*

# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# --- SQLite ---
*.db
*.sqlite
*.sqlite3
db/

# --- IntelliJ IDEA ---
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/

# --- Build files ---
build.xml
manifest.mf

# --- Package files ---
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# --- BlueJ ---
*.ctxt

# --- J2ME ---
.mtj.tmp/